Задание по практике 3

Обработка пропущенных значений

Обработайте пропущенные значения:

1. Удалите пропущенные значения

2. Заполните при помощи медианы, среднего для числовых значений

3. Заполните при помощи моды для категориальных значений

4. Интерполируйте

Выведите статистку после каждого метода и объясните

In [1]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.2.0)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
#Удаление
df_cleaned = df.dropna()

df_cleaned

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

Функция df.dropna() удаляет любые строки в датафрейме, которые содержат отсутствующие значения (NaN).

In [3]:
import pandas as pd
import numpy as np
def create_holes(dataframe, column_name, hole_percentage = 10):

    if hole_percentage < 0 or hole_percentage > 100:
        raise ValueError("Процент дырявости должен быть в диапазоне от 0 до 100.")

    dataframe_with_holes = dataframe.copy()
    num_holes = int(len(dataframe) * (hole_percentage / 100))
    hole_indices = np.random.choice(len(dataframe), num_holes, replace=False)
    dataframe_with_holes.loc[hole_indices, column_name] = np.nan

    return dataframe_with_holes


df = create_holes(df, 'Rape')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Rape
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,NaN
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,NaN
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,NaN
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,NaN
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,NaN
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,NaN
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,NaN
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,NaN
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,NaN

Данный код создает функцию createholes, которая принимает в качестве параметров исходный датафрейм, имя столбца и процент "дырявости" (процент пропущенных значений), по умолчанию равный 10%.

Функция создает копию исходного датафрейма и затем определяет количество "дыр" (пропущенных значений) на основе заданного процента. Затем случайным образом выбирает индексы строк, которые будут иметь пропущенные значения в указанном столбце, используя функцию np.random.choice().

После этого функция устанавливает выбранные значения в столбце равными np.nan, что представляет собой пропущенное значение в pandas.

Таким образом, результатом выполнения функции createholes будет исходный датафрейм с определенным процентом строк в указанном столбце, содержащими пропущенные значения (NaN).

После выполнения функции результат записывается в переменную df.

In [ ]:
#Заполнение при помощи медианы
df_filled_mean = df.fillna(df['price'].mean())

df_filled_mean

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Rape
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,540088.141767
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,540088.141767
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,540088.141767
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,540088.141767
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,540088.141767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,540088.141767
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,540088.141767
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,540088.141767
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,540088.141767
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,540088.141767

Этот код заполняет пропущенные значения в столбце "price" датафрейма df средним значением этого столбца.

In [ ]:
#Заполнение при помощи среднего
df_filled_median = df.fillna(df["price"].median())

df_filled_median

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Rape
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,450000.0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,450000.0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,450000.0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,450000.0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,450000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,450000.0
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,450000.0
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,450000.0
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,450000.0
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,450000.0

Этот код заполняет пропущенные значения в столбце "price" датафрейма df медианным значением этого столбца.

In [ ]:
#Заполнение при помощи моды

# df.Rape= df.Rape.astype("int")
df_filled_mode = df.fillna(df["bathrooms"].mode()[0])
"""
Мода возвращает объект Series, так как
значений моды может быть несколько
"""
df_filled_mode

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Rape
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,2.5
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,2.5
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,2.5
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,2.5
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,2.5
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,2.5
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,2.5
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,2.5
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,2.5

Этот код заполняет пропущенные значения в датафрейме df в столбце "bathrooms" модой этого столбца. Метод mode() возвращает объект Series, так как мода может содержать несколько значений, поэтому мы используем 0, чтобы получить первое (наиболее часто встречающееся) значение моды. Метод fillna() заменяет все пропущенные значения в датафрейме на это значение моды.

In [ ]:
#Заполнение при помощи моды
df_filled_mode = df.fillna(df["price"].mode()[0])
"""
Мода возвращает объект Series, так как
значений моды может быть несколько
"""
df_filled_mode

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Rape
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,350000.0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,350000.0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,350000.0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,350000.0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,350000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,350000.0
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,350000.0
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,350000.0
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,350000.0
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,350000.0

Этот код заполняет пропущенные значения в столбце "price" датафрейма df модой этого столбца. Поскольку метод mode() возвращает объект Series, который содержит значения моды и их подсчеты (count), мы добавляем 0, чтобы выбрать самое часто встречающееся значение моды. Метод fillna() заменяет все пропущенные значения в датафрейме на это значение моды.

In [ ]:
#Заполнение при помощи моды
df_filled_mode = df.fillna(df["price"].mode()[0])
"""
Мода возвращает объект Series, так как
значений моды может быть несколько
"""
df_filled_mode

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Rape
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,350000.0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,350000.0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,350000.0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,350000.0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,350000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,350000.0
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,350000.0
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,350000.0
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,350000.0
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,350000.0

In [ ]:
#Заполнение при помощи интерполяции
df_interpolated = df["bathrooms"].interpolate(method ='linear')

df_interpolated.describe()

count    21613.000000
mean         2.114757
std          0.770163
min          0.000000
25%          1.750000
50%          2.250000
75%          2.500000
max          8.000000
Name: bathrooms, dtype: float64

Этот код выполняет интерполяцию для столбца "bathrooms" в датафрейме df. Интерполяция - это метод заполнения отсутствующих значений на основе существующих данных. В данном случае используется линейная интерполяция (method='linear'), которая заполняет пропущенные значения, используя линейную функцию для экстраполяции значений на основе ближайших существующих значений.

Функция describe() возвращает основные статистические показатели для столбца "bathrooms" в датафрейме df_interpolated, такие как количество, среднее значение, стандартное отклонение, минимальное и максимальное значение, значения квартилей и т. д.

Объясните Все методы изменилм стандартное отклонение.

Заполнение модой уменьшило число свыше 75 квантиля, медиана его увеличила

Поиск выбросов и аномалий

Те, кто выполняет задания со * делают поиск выбросов с помощью написанного ранее класса

Найти выбросы по числовой переменной (использовать метод основанный на среднем и на межквартильном размахе).

Объясните результат

Вывести статистику с выбросами и без. Сравните и объясните результат

In [ ]:
#затем измененную
#Методом среднего
mean_data = df["bathrooms"].mean()
maximum = mean_data * 2
# res = []
# for item in df["Rape"]:
#   if abs(item - mean_data) < maximum:
#     res.append(item)

df_mean = df[abs((df["bathrooms"] - mean_data) < maximum)]
df_mean["bathrooms"].describe()

count    21605.000000
mean         2.112867
std          0.763924
min          0.000000
25%          1.750000
50%          2.250000
75%          2.500000
max          6.250000
Name: bathrooms, dtype: float64

Этот код начинается с вычисления среднего значения (mean_data) для столбца "bathrooms". Затем значение maximum устанавливается в два раза больше среднего. Далее есть закомментированный цикл и комментарий, который намекает на то, что предполагалось отфильтровать значения в "bathrooms" таким образом, чтобы остались только те, чье абсолютное отклонение от среднего не превышает maximum, но на самом деле это не правильный способ использования цикла и фильтрации в pandas.

Затем строки с использованием метода фильтрации данных в pandas (df[abs((df["bathrooms"] - mean_data) < maximum)]) являются некорректным синтаксисом.

После этого вызывается метод describe() для столбца "bathrooms" в df_mean для отображения статистической информации о столбце после применения фильтрации.

Корректным способом применения фильтрации для данной задачи является использование метода query() или логического оператора:

```python
df_mean = df[(df["bathrooms"] >= (mean_data - maximum)) & (df["bathrooms"] <= (mean_data + maximum))]
```
Что позволит отфильтровать значения столбца "bathrooms" таким образом, чтобы остались только те, которые находятся в пределах mean_data, плюс или минус maximum.

Затем для получения статистической информации о столбце после применения фильтрации, используется метод describe().

In [ ]:
#При помощи межквартильного размаха
Q1 =  df["bathrooms"].quantile(0.25)
Q3 = df["bathrooms"].quantile(0.75)
IQR = Q3 - Q1
df_IQR = df[(df["bathrooms"] > (Q1-1.5*IQR )) & (df["bathrooms"] < (Q3+1.5*IQR))]
df_IQR["bathrooms"].describe()

count    21042.000000
mean         2.059049
std          0.686137
min          0.750000
25%          1.500000
50%          2.250000
75%          2.500000
max          3.500000
Name: bathrooms, dtype: float64

В этом коде первым делом вычисляются первый (Q1) и третий (Q3) квартили, а также межквартильный размах (IQR) для столбца "bathrooms".

Затем создается новый датафрейм dfIQR, в котором значения столбца "bathrooms" отфильтровываются при помощи межквартильного размаха. Это означает, что только те значения "bathrooms", которые находятся в пределах (Q1 - 1.5*IQR) и (Q3 + 1.5*IQR), остаются в этом новом датафрейме.

В конце вызывается метод describe() для столбца "bathrooms" в dfIQR для отображения статистической информации о столбце после применения фильтрации по межквартильному размаху. Это позволяет увидеть основные статистические показатели, такие как среднее, стандартное отклонение, минимальное и максимальное значения, значения квартилей и т. д., для только что отфильтрованных данных.

In [ ]:
#Статистика и объяснение

Объяснения Отсечение по межквартильному размаху оставляет меньше значений и сильнее срезает максимум, чем через среднее значение.

Дубликаты

Проверьте датафрейм на дубликаты и удалите их, если дублей нет - создайте.

In [ ]:
#Проверка на дубли
df = pd.read_csv('kc_house_data.csv')
dupls = df.duplicated()

count = 0
for i in dupls:
  if (i): count +=1

count

0

Этот код загружает CSV-файл в датафрейм df, затем использует метод df.duplicated(), чтобы найти дубликаты в датафрейме.

Затем, с помощью цикла for, проходим по каждому значению в массиве dupls (который возвращает True для каждого дубликата и False для каждого уникального значения) и увеличиваем переменную count на 1 каждый раз, когда встречаем дубликат.

Конечное значение переменной count будет представлять собой количество дубликатов в датафрейме.

In [ ]:
df_with_dupls = pd.concat((df, df.loc[0:100]))
dupls = df_with_dupls.duplicated()
count = 0
for i in dupls:
  if (i): count +=1

count

101

Этот код создает новый датафрейм dfwithdupls, путем конкатенации (объединения) исходного датафрейма df с собой же (df.loc0:100). После этого dfwithdupls содержит исходные строки из df, за которыми следует их первые 100 строк.

Затем для нового датафрейма dfwithdupls используется метод df.duplicated(), чтобы найти дубликаты.

Затем, с помощью цикла for, мы проходим по каждому значению в массиве dupls и увеличиваем переменную count на 1 каждый раз, когда встречаем дубликат.

Конечное значение переменной count будет представлять собой количество дубликатов в датафрейме dfwithdupls, включая дубликаты, возникшие из-за конкатенации исходного датафрейма.

In [ ]:
#Удаление дублей
df_no_duplicates = df_with_dupls.drop_duplicates()
dupls = df_no_duplicates.duplicated()

count = 0
for i in dupls:
  if (i): count +=1
count

0

Этот код удаляет дубликаты из датафрейма dfwithdupls с помощью метода dropduplicates() и сохраняет изменения в новом датафрейме dfnoduplicates.

Затем используется метод df.duplicated() для нового датафрейма dfnoduplicates для поиска дубликатов.

Затем, с помощью цикла for, проходим по каждому значению в массиве dupls и увеличиваем переменную count на 1 каждый раз, когда встречаем дубликат.

Конечное значение переменной count будет представлять собой количество дубликатов в датафрейме dfnoduplicates. Однако, после удаления дубликатов с использованием метода dropduplicates, все значения в массиве dupls будут равны False, так как датафрейм dfnoduplicates уже не содержит дубликатов, и поэтому переменная count будет равна 0.

Преобразование признаков

Масштабируйте числовые признаки через MinMaxScaler, StandardScaler

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Creating instances

num_features = df.select_dtypes(include=['int']).columns
scaler_minmax = MinMaxScaler()
min_max_scaler = df.copy()
min_max_scaler[num_features] = scaler_minmax.fit_transform(df[num_features])
min_max_scaler["floors"].unique()

array([1. , 2. , 1.5, 3. , 2.5, 3.5])

В этом фрагменте кода выполняется масштабирование числовых признаков в датафрейме df с использованием метода MinMaxScaler из библиотеки scikit-learn.

1. Сначала определяются числовые признаки, выбирая столбцы типа данных "int" с помощью метода selectdtypes.

2. Затем создается экземпляр MinMaxScaler() как scalerminmax.

3. С помощью метода fittransform() объекта scalerminmax, значения числовых признаков dfnum_features масштабируются с использованием метода минимакс-шкалирования (MinMaxScaler) и затем данные присваиваются копии датафрейма minmaxscaler.

4. Наконец, выводится уникальные значения (unique()) столбца "floors" в minmaxscaler.

Данный код позволяет масштабировать числовые признаки с сохранением пропорций между значениями в диапазоне от 0 до 1, что может улучшить процесс обучения модели, особенно при использовании алгоритмов, чувствительных к масштабу.

In [ ]:
standard_scaler = StandardScaler()
st_scaler = df.copy()
st_scaler[num_features] = standard_scaler.fit_transform(df[num_features])
st_scaler["floors"].unique()

array([1. , 2. , 1.5, 3. , 2.5, 3.5])

В этом фрагменте кода выполняется масштабирование числовых признаков в датафрейме df с использованием метода StandardScaler из библиотеки scikit-learn.

1. Сначала создается экземпляр StandardScaler() как standardscaler.

2. Затем с помощью метода fittransform() объекта standardscaler, значения числовых признаков df[numfeatures] масштабируются с использованием метода стандартного шкалирования (StandardScaler), и затем данные присваиваются копии датафрейма stscaler.

3. Наконец, выводятся уникальные значения (unique()) столбца "floors" в stscaler.

Этот код позволяет масштабировать числовые признаки так, чтобы их среднее значение стало равным 0, а стандартное отклонение - 1. Это помогает алгоритмам машинного обучения лучше справляться с данными, особенно в случае с алгоритмами, чувствительными к масштабу и распределению данных.

In [ ]:
df_scaled = df.copy()
df_scaled["floors"] = st_scaler["floors"]

df_scaled

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

В этом фрагменте кода создается новый датафрейм dfscaled путем копирования исходного датафрейма df с использованием метода copy(). Затем значения столбца "floors" в dfscaled заменяются значениями, полученными после применения стандартного масштабирования стандартным масштабировщиком (stscaler).

Итак, dfscaled содержит остальные данные, но значения столбца "floors" заменены значениями, полученными после стандартного масштабирования.

Это может быть полезным для последующего анализа и использования данных, поскольку у нас есть отдельный датафрейм с масштабированными значениями, который можно использовать для моделирования или других задач машинного обучения.

Масштабируйте категориальные признаки через OneHotEncoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# Create an instance of OneHotEncoder
encoder = OneHotEncoder()
df["floors"] = df["floors"].astype("category")
df["bathrooms"] = df["bathrooms"].astype("category")
category_col = df.select_dtypes(include=['category']).columns
encoder = OneHotEncoder()
df_cat_encoded = pd.get_dummies(df, columns=category_col, drop_first=True)
encoded_features = encoder.fit_transform(df[category_col])
encoded_columns = encoder.get_feature_names_out(category_col)
encoded_columns

array(['bathrooms_0.0', 'bathrooms_0.5', 'bathrooms_0.75',
       'bathrooms_1.0', 'bathrooms_1.25', 'bathrooms_1.5',
       'bathrooms_1.75', 'bathrooms_2.0', 'bathrooms_2.25',
       'bathrooms_2.5', 'bathrooms_2.75', 'bathrooms_3.0',
       'bathrooms_3.25', 'bathrooms_3.5', 'bathrooms_3.75',
       'bathrooms_4.0', 'bathrooms_4.25', 'bathrooms_4.5',
       'bathrooms_4.75', 'bathrooms_5.0', 'bathrooms_5.25',
       'bathrooms_5.5', 'bathrooms_5.75', 'bathrooms_6.0',
       'bathrooms_6.25', 'bathrooms_6.5', 'bathrooms_6.75',
       'bathrooms_7.5', 'bathrooms_7.75', 'bathrooms_8.0', 'floors_1.0',
       'floors_1.5', 'floors_2.0', 'floors_2.5', 'floors_3.0',
       'floors_3.5'], dtype=object)

В этом фрагменте кода мы используем метод OneHotEncoder из библиотеки scikit-learn для кодирования категориальных признаков.

1. Сначала создается экземпляр класса OneHotEncoder и выполняется преобразование типов данных столбцов "floors" и "bathrooms" в тип "категория" с помощью вызова метода astype("category").

2. Затем мы выбираем столбцы с данными типа "категория" с помощью метода selectdtypes.

3. Затем используем метод pd.getdummies, который создает фиктивные переменные для указанных столбцов типа "категория" в датафрейме. Параметр dropfirst=True означает, что первый столбец в каждой категории будет удален (то есть, чтобы избежать ловушки фиктивных переменных, так как первый столбец можно восстановить из остальных) и у нас будет на одну фиктивную переменную меньше, чем у нас столбцов в категориальных данных для дамми-кодирования.

4. Метод fittransform() на объекте OneHotEncoder выполняет кодирование категориальных признаков с помощью метода OneHotEncoder.

5. Метод getfeaturenamesout() возвращает имена столбцов для закодированных признаков.

Таким образом, переменная encodedcolumns содержит имена закодированных признаков, которые готовы для использования в моделях машинного обучения, где категориальные признаки должны быть закодированы в числовые значения.

In [ ]:
df_cat_encoded

,id,date,price,bedrooms,sqft_living,sqft_lot,waterfront,view,condition,grade,...,bathrooms_6.5,bathrooms_6.75,bathrooms_7.5,bathrooms_7.75,bathrooms_8.0,floors_1.5,floors_2.0,floors_2.5,floors_3.0,floors_3.5
0,7129300520,20141013T000000,221900.0,3,1180,5650,0,0,3,7,...,0,0,0,0,0,0,0,0,0,0
1,6414100192,20141209T000000,538000.0,3,2570,7242,0,0,3,7,...,0,0,0,0,0,0,1,0,0,0
2,5631500400,20150225T000000,180000.0,2,770,10000,0,0,3,6,...,0,0,0,0,0,0,0,0,0,0
3,2487200875,20141209T000000,604000.0,4,1960,5000,0,0,5,7,...,0,0,0,0,0,0,0,0,0,0
4,1954400510,20150218T000000,510000.0,3,1680,8080,0,0,3,8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,1530,1131,0,0,3,8,...,0,0,0,0,0,0,0,0,1,0
21609,6600060120,20150223T000000,400000.0,4,2310,5813,0,0,3,8,...,0,0,0,0,0,0,1,0,0,0
21610,1523300141,20140623T000000,402101.0,2,1020,1350,0,0,3,7,...,0,0,0,0,0,0,1,0,0,0
21611,291310100,20150116T000000,400000.0,3,1600,2388,0,0,3,8,...,0,0,0,0,0,0,1,0,0,0
21612,1523300157,20141015T000000,325000.0,2,1020,1076,0,0,3,7,...,0,0,0,0,0,0,1,0,0,0

Переменная df_cat_encoded представляет собой новый датафрейм, содержащий закодированные (преобразованные в фиктивные переменные) категориальные признаки из исходного датафрейма df.